asgiref==3.7.2
distlib==0.3.6
# django-cors-headers==4.2.0
# djangorestframework==3.14.0
filelock==3.12.0
# Pillow==10.0.0
platformdirs==3.5.0
pytz==2023.3.post1
sqlparse==0.4.4
tzdata==2023.3
virtualenv==20.23.0
# gunicorn==<21.2.0>  # Add the latest version of Gunicorn here
